body {
    font-weight: bolder;
    font-family: system-ui;
}

h1 {
    font-size: large;
    font-weight: bold;
    color: orange;
    background-color: black;
}

h2 {
    color: antiquewhite;
    background-color: black;

}
