body {
    font-weight: bolder;
    font-family: system-ui;
    background-image: url('1837111692-beauty_matrix_2023_0912_pc_wallpaper_1920_kabekin-GRv8-1920x1080-MM-100.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-weight: bold;
    color: orange;
    background-color: black;
}

h2 {
    color: antiquewhite;
    background-color: black;

}

h3 {
    color: antiquewhite;
    background-color: black;
}

.caption-box {
    border: 2px solid orange;
    padding: 6px;
    margin-top: 10px;
    width: 80%;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
}

pre code {
    background-color: #f4f4f4; /* 背景色 */
    border: 1px solid #ccc;    /* 枠線 */
    border-radius: 5px;        /* 角丸 */
    padding: 10px;
    display: block;
    white-space: pre;          /* 改行やスペースをそのまま表示 */
    overflow-x: auto;          /* 横スクロール可 */
    font-family: Consolas, Monaco, monospace; /* 等幅フォント */
}
